.border-top-fb {
    border-top: solid hsl(208, 92%, 53%);
}

.border-top-tw {
    border-top: solid hsl(203, 89%, 53%);
}

.border-top-ig {
    border-top: solid #df4996;
}

.border-top-yt {
    border-top: solid hsl(348, 97%, 39%);
}

.toggle-checkbox:checked {
    right: 0;
    border-color: #68d391;
}

.toggle-checkbox:checked+.toggle-label {
    background-color: #68d391;
}